.main-down
    display: grid
    grid-template-columns: repeat(2, 380px)
    grid-gap: 100px
    justify-content: center

#text
    font-family: 'Gilroy'
    font-weight: 900
    font-size: 36px
    line-height: 46px
    letter-spacing: 0.05em
    color: #003e8d
    max-width: 1366px
    width: 100%
    margin: 0px auto
    position: relative;
    left: 213px;
    top: 193px;
.box
    background: #FFFFFF;
    width: 380px
    height: 525px
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing: border-box

.box h3
    font-family: Gilroy;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #003e8d;
    margin: 90px 48px 16px 48px;

.box p 
    margin: 16px 48px

.box span
    font-family: 'Gilroy'
    font-size: 14px
    line-height: 30px
    letter-spacing: 0.05em
    color: #5A98D0;
    cursor: pointer
    margin: 32px 48px;
    font-weight: 900

.box-1
    margin-bottom: 100px

.box-1 img
    margin-top: -74px;

.box img
    position: relative;
    left: 78px;
    top: 48px;

.column1
    display: grid
    align-items: center

.column2
    display: grid